{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'easy_uploader/css/main.css' %}">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-info">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% block top_page %}{% endblock %}" href="{% url 'easy_uploader:index' %}">Home</a>
          </li>
         <li class="nav-item">
            <a class="nav-link {% block img_page %}{% endblock %}" href="{% url 'easy_uploader:img_index' %}">Img Uploader</a>
          </li>
         <li class="nav-item">
            <a class="nav-link {% block file_page %}{% endblock %}" href="{% url 'easy_uploader:file_index' %}">File Uploader</a>
          </li>
        </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 
  </body>
</html>