{% extends "easy_uploader/base.html" %}
{% block category_page %}active{% endblock %}
{% block content %}
  <div class="container">
      <a href="{% url 'easy_uploader:category_create' %}" class="btn btn-outline-primary">
          新規作成
      </a>
      <hr>
    <table class="table">
      <thead>
        <tr>
          <th>カテゴリ名</th>
          <th>作成日</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        {% for category in category_list %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.created_at }}</td>
            <td>
                <a href="{% url 'easy_uploader:category_update' category.pk %}" class="btn btn-outline-primary btn-sm">
                  更新
                </a>
                <form class="delete-form" action="{% url 'easy_uploader:category_delete' category.pk %}" method="POST">
                    <button type="button" class="btn btn-outline-primary btn-sm delete">削除</button>
                    {% csrf_token %}
                </form>
                <a href="{% url 'easy_uploader:file_category' category.pk %}" class="btn btn-outline-primary btn-sm">
                  カテゴリのファイル一覧
                </a>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-center">
      {% include "easy_uploader/page.html" %}
    </div>
  </div>
{% endblock %}