{% extends "easy_uploader/base.html" %}
{% block file_page %}active{% endblock %}
{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>カテゴリー管理</h1>
      <p class="lead text-muted">カテゴリの管理はこちら</p>
      <p>
        <a href="{% url 'easy_uploader:category_create' %}" class="btn btn-primary">
          カテゴリ作成
        </a>
        <a href="{% url 'easy_uploader:file_index' %}" class="btn btn-primary">
          ファイル一覧
        </a>
      </p>
    </div>
  </section>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>カテゴリ名</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        {% for category in category_list %}
          <tr>
            <td>{{ category.name }}</td>
            <td>
              <a href="{% url 'easy_uploader:category_update' category.pk %}">
                編集
              </a>
              <a href="{% url 'easy_uploader:category_delete' category.pk %}">
                削除
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}